* {
  margin: 0;
}

body {
  height:100vh;
}

@mixin fan($count, $angle) {
  $offset: $angle / 2;
  @for $i from 1 through $count {
    $increment: $angle / ($count + 1);
    div:nth-child(#{$i}) {
      transform: translate(-50%, -50%) rotate(-$offset + $increment * $i);
    }
  }
}

.handClosed {
    position: absolute;
    left:50%;
    top:80%;
    display: flex;

    transition: transform 1s ease-out;

    @include fan(6, 50deg);
  
    &:hover {
      @include fan(6, 120deg);
    }
}

.handFanned {
  display: flex;
  position: absolute;
  left: -20%;
  top: 70%;
  transition: transform 1s ease-out;
}

.handFanned .gameCard {
  position: relative;
  margin: 20px;
}

.pile {
  position: absolute;
  left:85%;
  top:74%;
  transition: transform 0.5s ease-in;
}

.pile:hover > .gameCardPile:first-child {
  transform: translateY(-30px);
  transition: transform 1s ease-out;
}

.pile > .gameCardPile:first-child {
  transition: transform 0.5s ease-in;
}

.playerBoard {
  //TODO: Make the card decks align with this
}